<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @client.business_name %>
</p>

<p>
  <strong>Physical address:</strong>
  <%= @client.physical_address %>
</p>

<p>
  <strong>Year:</strong>
  <%= @client.year %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
